apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: backend-tls
  namespace: wms
spec:
  secretName: backend-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - "api.datanetwork.online"
