apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: wms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ajaykumara/backend-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          envFrom:
            - secretRef:
                name: backend-secrets

          env:
            - name: PUBLIC_API_URL
              value: https://api.servernet.solutions

          volumeMounts:
            - name: uploads
              mountPath: /app/uploads

      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: backend-uploads-pvc
