apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: wms-gateway
  namespace: wms
spec:
  gatewayClassName: nginx
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.datanetwork.online"
      tls:
        mode: Terminate
        certificateRefs:
          - name: wildcard-datanetwork-tls
            kind: Secret
            group: ""
      allowedRoutes:
        namespaces:
          from: All

    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
