# backend-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: wms
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ajaykumara/backend-app:latest
        ports:
        - containerPort: 5000
        envFrom:
        - secretRef:
            name: backend-secret
        env:
        - name: CORS_ORIGIN
          value: "https://app.datanetwork.online"