apiVersion: v1
kind: Service
metadata:
  name: wms-backend
  namespace: wms
  labels:
    app: wms-backend
    tier: backend
spec:
  type: ClusterIP
  sessionAffinity: ClientIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: wms-backend