apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: wms
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ajaykumara/backend-app:latest
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
          livenessProbe:
            httpGet:
              path: /api/auth/health
              port: 5000
            initialDelaySeconds: 15
          readinessProbe:
            httpGet:
              path: /api/auth/health
              port: 5000
            initialDelaySeconds: 5
