apiVersion: v1
kind: Service
metadata:
  name: supportair-frontend
  namespace: supportair
  labels:
    app: supportair-frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: supportair-frontend