apiVersion: v1
kind: Service
metadata:
  name: wms-frontend
  namespace: wms
  labels:
    app: wms-frontend
    tier: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: wms-frontend