apiVersion: v1
kind: Service
metadata:
  name: wms-gateway-service
  namespace: nginx-gateway
spec:
  type: NodePort
  selector:
    app: nginx-gateway
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
