apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: frontend
  namespace: wms
spec:
  parentRefs:
  - name: wms-gateway
    namespace: traefik
  hostnames:
  - "app.datanetwork.online"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: frontend
      port: 80
      namespace: wms
